.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 206px;
    overflow: hidden;


    .hero-txt {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        padding: 0 5%;

        h1 {
            font-weight: 100;
            font-size: clamp(28px, 5vw, 36px);
            margin-bottom: 0;

            br {
                display: none;
            }
        }

        p {
            font-weight: 600;
            font-size: clamp(18px, 4vw, 41px);
            margin-top: -10px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

.hero-btn {
    display: flex;

    button {
        font-size: clamp(16px, 3vw, 24px);
        box-shadow: -1px 3px 13px 0px rgba(47, 43, 40, 0.77);
    }
}

// RESPONSIVE DESIGN

@media (max-width: 768px) {
    .hero {
        padding-bottom: 150px;
        background-image: url(/img/mountains-bg.avif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .hero-txt {
            padding-inline: 10%;
            gap: 20px;
            display: flex;
            align-items: center;

            h1 {
                text-align: center;
                font-size: clamp(22px, 5vw, 28px);
                text-transform: capitalize;

                br {
                    display: block;
                }
            }

            p {
                font-size: clamp(16px, 4vw, 20px);
            }
        }
    }
}