@use 'variables' as *;
@use 'sass:color';

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    color: $text-color;
    background-color: $background-color;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    color: $primary-color;
    /* margin-bottom: 0.5em; */
}

p {
    margin-bottom: 1.2em;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
        color: $secondary-color;
    }
}

button {
    background-color: $primary-color;
    color: #fff;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 38px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: color.adjust($primary-color, $lightness: -10%);
    }
}