$primary-color: #2b6d79;
$secondary-color: #ffffff;
$background-color : white;
$text-color: #333;
$text-font: "Lucida Sans","Lucida Sans Regular","Lucida Grande","Lucida Sans Unicode",Geneva,Verdana,sans-serif;