@use '../components/Navbar/navbar.scss';
@use '../components/Hero/hero.scss';
@use '../components/Projects/projects.scss';
@use '../components/About/about.scss';
@use 'variables' as *;
@use 'mixins' as *;
@use 'reset';
@use 'base';

body {
    font-family: helvetica;
    ;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

section {
    padding: 100px 20px;
    height: 100vh;
}

/* .main {
    background-image: url(../assets/mountains-bg.avif);
        background-size: cover; // Ajuste l'image pour couvrir toute la zone
        background-position: center; // Centre l'image
        background-repeat: no-repeat; // Empêche la répétition de l'image
        background-attachment: fixed;
} */