@use '../components/Navbar/navbar.scss';
@use '../components/Hero/hero.scss';
@use '../components/Projects/projects.scss';
@use '../components/ProjectSlide/projectslide.scss';
@use '../components/ProjectModal/ProjectModal.scss';
@use '../components/About/about.scss';
@use '../components/Contact/contact.scss';
@use '../components/Footer/footer.scss';
@use 'variables' as *;
@use 'mixins' as *;
@use 'reset';
@use 'base';

body {
    font-family: helvetica;
    ;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

section {
    /* padding: 100px 20px; */
    height: 100vh;
}

.main {
    background-image: url(../assets/mountains-bg.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}