@use '../../styles/variables' as *;

.about {
    background-color: white;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        background-color: $primary-color;
        color: white;
        padding: 12px;
        box-shadow: 0px 15px 16px -13px #6c716f;
        z-index: 2;
    }

    .about-content {
        display: flex;
        align-items: center;
        padding-inline: 10px;
        box-shadow: 0px 15px 16px -19px #6c716f;
        background-color: #f1f0ef;
        z-index: 1;

        .about-title {
            display: flex;
            justify-content: space-around;
            padding: 81px;

            h3 {
                text-transform: uppercase;
                font-family: $text-font;
                font-size: 19px;
                margin: 20px 0;
            }
        }

        .about-txt {
            width: 180%;

            p {
                font-size: 16px;
                text-align: justify;
                padding: 20px;
                margin: 40px;

                em {
                    color: $primary-color;
                    font-weight: 600;
                    font-style: normal;
                }
            }
        }

        .about-img {
            display: flex;
            justify-content: center;

            img {
                width: 38%;
                filter: opacity(0.7);
            }
        }
    }

    .tools-n-skills {
        display: flex;
        justify-content: space-around;
        background-image: url(../assets/white-texture.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        align-items: center;
        padding: 20px;
        height: 100%;

        img{
            height: 29%;
        }

        h3 {
            text-align: center;
            margin: 20px auto;
            background-color: #ffffff;
            color: #2b6d79;
            border-radius: 10px;
            /* border-bottom-style: solid; */
            text-transform: uppercase;
            font-weight: normal;
            font-size: 21px;
            padding: 5px;
            width: 89%;
            box-shadow: 0px 15px 16px -19px #6c716f;
            font-family: $text-font;
        }

        .tools,
        .skills {
            width: 30%;
            text-align: center;

            .tools-content,
            .skills-content {
                display: grid;
                gap: 86px 26px;
                grid-template-columns: repeat(3, 1fr);
                justify-items: center;
                align-items: center;
                margin-top: 56px;

                img {
                    width: 65%;
                    height: 80px;
                    /* object-fit: cover; */
                    background-color: rgb(255, 255, 255);
                    border-radius: 20px 20px 0px 0px;
                    border-radius: 80px;
                    padding: 15px 18px;
                    box-shadow: 0px 15px 16px -19px #6c716f;
                }
            }
        }
    }
}