.contact {
  display: flex;
  flex-direction: column;
  background-color: rgba(212, 212, 212, 0.7411764706);
  position: relative;
  height: 95vh;
  overflow: hidden;
}
.contact h2 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #2b6d79;
  color: white;
  padding: 12px;
  box-shadow: 0px 15px 16px -13px #6c716f;
  z-index: 2;
}
.contact .contact-container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.contact .contact-container .contact-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 70px;
  background-color: #2b6d79;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.23);
  width: 44%;
  justify-content: center;
  align-items: center;
}
.contact .contact-container .contact-form h3 {
  font-size: 22px;
  margin-bottom: 37px;
  color: white;
  text-align: center;
}
.contact .contact-container .contact-form .form-group {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 15px;
}
.contact .contact-container .contact-form .form-group label {
  font-size: 14px;
  font-weight: bold;
  color: #c4bfbf;
  margin-bottom: 5px;
}
.contact .contact-container .contact-form .form-group input,
.contact .contact-container .contact-form .form-group textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 14px;
  outline: none;
  transition: border-color 0.3s;
  color: #2b6d79;
  box-shadow: 0px 15px 16px -19px #102a2d;
}
.contact .contact-container .contact-form .form-group input:focus,
.contact .contact-container .contact-form .form-group textarea:focus {
  border-color: #2b6d79;
}
.contact .contact-container .contact-form .form-group p {
  color: white;
  font-size: 12px;
  font-style: italic;
  padding: 2px;
}
.contact .contact-container .contact-form .form-group input::-moz-placeholder, .contact .contact-container .contact-form .form-group textarea::-moz-placeholder {
  color: rgba(154, 150, 150, 0.6);
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.contact .contact-container .contact-form .form-group input::placeholder,
.contact .contact-container .contact-form .form-group textarea::placeholder {
  color: rgba(154, 150, 150, 0.6);
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.contact .contact-container .contact-form .form-group textarea {
  min-height: 120px;
  resize: vertical;
}
.contact .contact-container .contact-form button {
  padding-inline: 54px;
  margin-top: 32px;
  background-color: white;
  color: #2b6d79;
  box-shadow: 0px 15px 16px -19px #102a2d;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact .contact-container .contact-form button:hover {
  background-color: #e6e6e6;
}
.contact .contact-container .contact-form button:active {
  transform: scale(0.95);
}
.contact .github-link {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2b6d79;
  font-size: 25px;
  transition: color 0.3s;
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.2));
}
.contact .github-link:hover {
  color: #144148;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.3));
}
.contact .popup-success {
  position: fixed;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 8px 15px;
  border-radius: 11px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: bold;
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}
.contact .popup-error {
  position: fixed;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c76464;
  color: white;
  padding: 8px 15px;
  border-radius: 11px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: bold;
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
  }
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .contact .contact-container .contact-form {
    height: 94%;
    width: 100%;
    margin: unset;
    border-radius: 0px;
  }
  .contact .contact-container .contact-form .form-group {
    width: 90%;
  }
  .contact .github-link {
    font-size: 18px;
    color: white;
  }
  .contact .popup-success {
    bottom: 108px;
    left: 50%;
    padding: 8px 7px;
    font-size: 11px;
  }
  .contact .popup-error {
    bottom: 108px;
    left: 50%;
    padding: 8px 7px;
    font-size: 11px;
  }
}