.contact {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8392156863);
  position: relative;
  height: 95vh;
}
.contact h2 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #2b6d79;
  color: white;
  padding: 12px;
  box-shadow: 0px 15px 16px -13px #6c716f;
  z-index: 2;
}
.contact .contact-container {
  display: flex;
  justify-content: center;
}
.contact .contact-container .contact-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 70px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.23);
  width: 50%;
  height: 600px;
  justify-content: center;
  align-items: center;
}
.contact .contact-container .contact-form h3 {
  font-size: 25px;
  margin-bottom: 37px;
}
.contact .contact-container .contact-form .form-group {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-bottom: 15px;
}
.contact .contact-container .contact-form label {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}
.contact .contact-container .contact-form input,
.contact .contact-container .contact-form textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}
.contact .contact-container .contact-form input:focus,
.contact .contact-container .contact-form textarea:focus {
  border-color: #2b6d79;
}
.contact .contact-container .contact-form textarea {
  min-height: 120px;
  resize: vertical;
}
.contact .contact-container .contact-form button {
  padding-inline: 54px;
  margin-top: 32px;
}
.contact .github-link {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2b6d79;
  font-size: 25px;
  transition: color 0.3s;
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.2));
}
.contact .github-link:hover {
  color: #144148;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.3));
}