@use '../../styles/variables' as *;

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: $primary-color;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    box-shadow: 0px 15px 16px -19px #6c716f;
    border-radius: 0px 0px 27px 27px;
    text-transform: uppercase;
}

.navbar a {
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: color 0.3s ease;

    &:hover {
        color: $primary-color;
        font-weight: 700;
    }

    &.active {
        font-weight: bold;
    }
}

ul {
    display: flex;
    gap: 34px;
}

// RESPONSIVE DESIGN

@media (max-width: 768px) {
    .navbar {
        ul {
            flex-wrap: wrap;
            row-gap: 5px;
            column-gap: 23px;
            justify-content: center;

            a {
                padding: unset;
                font-size: 14px;
            }
        }
    }
}